Release/
Debug/
x64/
build/
vcpkg_installed/
.vs/
.vscode/
saris/saris.vcxproj.user
saris/tests.vcxproj.user
client/client.vcxproj.user
demo/demo.vcxproj.user
client/config/
demo/config/
saris/config/
client/logs/
demo/logs/
saris/logs/
client/saris.db
demo/saris.db
saris/saris.db